video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

html, body {
  height: 100%;
  font-family: 'Eczar', serif;
}
html {  
  font-size: 150%;
  line-height: 1.4;
}
body {
  margin: 0;
}

.welcome-text {
  position: relative;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Syncopate', sans-serif;
  color: white;  
  letter-spacing: 3vw;
  line-height: 1.2;
  font-size: 3vw;
  text-align: center;
  -webkit-animation: text-appear 19s infinite; 
  -moz-animation:    text-appear 19s infinite; 
  -o-animation:      text-appear 19s infinite; 
  animation:         text-appear 19s infinite;
  span {
    display: block;
    font-size: 10vw;
    letter-spacing: .3vw;
  }
}

@-webkit-keyframes text-appear{
  0%   { opacity: 0; }
  50% { opacity: 0; }
  60% { opacity: 1; }
  100% { opacity: 1; }
}
@-moz-keyframes text-appear {
  0%   { opacity: 0; }
  30% { opacity: 0; }
  60% { opacity: 1; }
  100% { opacity: 1; }
}
@-o-keyframes text-appear {
  0%   { opacity: 0; }
  30% { opacity: 0; }
  60% { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes text-appear {
  0%   { opacity: 0; }
  30% { opacity: 0; }
  60% { opacity: 1; }
  100% { opacity: 1; }
}

#info-section {
  background: rgba(black, 0.66);
  position: relative;
  color: white; 
  padding: 1rem; 
}

.chalet-img {
    height: 400px;
    width: 300px;  
}
.close-icon {
  position: absolute;
  right: 0px;  
  color: white; 
}